@import url(../App.css);

.section2 {
    font-family: var(--primaryfont);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width:calc(100% - 20px);
    position: relative;
    padding-inline: 10px;
    align-items: stretch;
    padding-top: 50px;
}

.con-sticky {
    width: 25%;
    height: auto;
    flex: 1;
    flex-shrink: 0;
}

.sticky {
    position: sticky;
    padding: 20px;
    display: flex;
    height: calc(100vh - 40px);
    flex-direction: column;
    top: 0;
}

.sticky h3 {
    font-size: 30px;
    color: var(--button);
    font-weight: 400;
    opacity: 0.5;
    line-height: 0.2;
}

.image-profile {
    background: url(../assets/e3b4ba54-3742-495d-aa8e-1e0c75f69437\ \(1\).jpg);
    width: 100%;
    aspect-ratio: 1/1;
    background-position: center;
    background-size: cover;
}

.bio {
    width: calc(100% - 40px);
    background: linear-gradient(250deg, rgba(255, 255, 255, 0.055)100%, rgba(255, 255, 255, 0.062)0%);
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 7px;
    color: white;
    padding: 20px;
}

.contactme {
    width: 100%;
    padding-block: 20px;
    background-color: var(--button);
    display: grid;
    place-items: center;
    margin-top: 12px;
    font-weight: 800;
}

.bio h1 {
    font-size: 14px;
    opacity: 0.5;
    font-weight: 400;
    margin: 0;
}

.bio .bio-icon {
    margin-right: 10px;
}

.list-bio {
    list-style: none;
    padding: 0;
    margin-bottom: 0;
}

.bio .list-bio li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
}

@media (max-width:1083px) {
    .bio .list-bio li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        margin-bottom: 5px;
    }
    @media (max-width:700px) {
        .bio .list-bio li {
            flex-direction: row;
        }
    }
}

.bio .list-bio li p {
    font-size: 9px;
    padding: 0;
    margin: 0;
}

.bio .list-bio li .text-bio {
    display: flex;
    align-items: center;
}

























.contents {
    top: 0;
    width: calc(75% - 60px);
    height: calc(fit-content);
    position: relative;
    padding-inline: 30px;
}

.abouts {
    display: flex;
    width: calc(100% - 30px);
    height: fit-content;
    position: relative;
    padding-top: 30px;
    padding-bottom: 30px;
    border-bottom: 2px solid rgba(255, 255, 255, 0.055);
}

.abouts::after {
    content: '';
    width: 10px;
    height: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.055);
    background-color: var(--primary);
    
    position: absolute;
    bottom: calc(0% + -11px);
    background-color: rgba(255, 255, 255, 0.055);
    padding: 5px;
    outline-offset: 2px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
}

.text-abouts {
    width: 50%;
    color: white;
}

.text-abouts .title-about {
    font-size: 16px;
    opacity: 0.5;
}

.text-abouts .content-about {
    font-size: clamp(0.5em, 0.9em, 2em);
    opacity: 1;
    line-height: 1;
}

.text-abouts .content-carrier {
    font-size: clamp(0.5em, 0.9em, 2em);
    opacity: 1;
    list-style: none;
    height: 100%;
    line-height: 1;
    position: relative;
    margin: 0;
    display: flex;
        flex-wrap: wrap;
        gap: 2rem;;
    padding: 0;
}

.content-carrier {
}

.con-line-carrier {
    font-size: 16px;
    opacity: 1;
    
    list-style: none;
    line-height: 1;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
}

:is(.sd, .smp, .smk, .kuliah) {
    background-color: rgba(255, 255, 255, 0.045);
    padding: 20px;
    background-position: right;
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 0px;
    width: calc(100% - 40px);
    padding-block: 19px;
    margin-bottom: 5px;
    display: flex;
    place-items: center;
}


:is(.sd, .smp, .smk)::after {
    content: '';
    
    width: 80%;
    height: 60px;
    position: absolute;
    margin-bottom: 5px;
}

.line-carrier {
    width: 60%;
    height: 50px;
    background-color: blue;
    position: absolute;

}

.text-abouts:nth-child(1) {
    padding-right: 20px;
}
.text-abouts:nth-child(2) {
    
}

.highlight {
    text-decoration: underline;
    text-decoration-color: rgba(255, 23, 93, 0.753);
    text-decoration-thickness: 2px;
}

@media (max-width:700px) {
    .section2 {
        font-family: var(--primaryfont);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        align-items: center;
        height: fit-content;
        width: calc(100% - 20px);
        position: relative;
        padding-top: 50px;

    }

    .con-bio-title {
        display: flex;
        flex-direction: column;
    }

    .contents {
        top: 0;
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        height: 300vh;
        position: relative;
        padding: 20px;
    }


    .con-sticky {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
    }

    .sticky {
        padding: 20px;
        display: flex;
        height: min-content;
        flex-direction: column;
        top: 0;
    }

    .text-abouts {
        width: 100%;
        color: white;
    }

    .abouts {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: column;
        width: 100%;
        height: min-content;
    }

    @media (min-width:500px) {
        .abouts {
            display: flex;
            width: min-content;
            flex-direction: row;
            width: 100%;
        }
    }

    .text-abouts .title-about {
        font-size: 12px;
        opacity: 0.5;
    }

    .text-abouts .title-about2 {
        margin-top: 30px;
    }

    .text-abouts .content-about {
        font-size: 13px;
        opacity: 1;
        line-height: 1;
    }

    .text-abouts .content-carrier {
        font-size: 13px;
        opacity: 1;
        line-height: 1;
    }
}