@import url(../App.css);

.section2 {
    font-family: var(--primaryfont);
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    height: fit-content;
    width:calc(100% - 20px);
    position: relative;
    padding-inline: 10px;
    align-items: stretch;
}

.con-star4 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star4 {
    top: -30px;
    right: 10px;
}

.con-star5 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star5 {
    top: 20%;
    right: 10px;
}

.con-star6 {
    z-index: 30;
    width: 15px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star6 {
    top: 95%;
    left: 10px;
}

.con-sticky {
    width: 25%;
    height: auto;
    flex: 1;
    flex-shrink: 0;
    border-right: 1px solid var(--border);
}

.sticky {
    position: sticky;
    padding: 20px;  
    display: flex;
    justify-content: space-between;
    height: calc(100vh - 40px);
    flex-direction: column;
    top: 0;
}

.sticky-header {
    display: grid;
    grid-template-columns: 1fr 2fr;
    margin-bottom: 20px;
    align-items: center;
    border-bottom: 1px solid var(--border);
    position: relative;
    gap: 10px;
    padding-bottom: 10px;
}

.sticky #namamu {
    font-size: 30px;
    font-family: var(--secondfont);
    color: var(--button);
    display: inline-block;
    font-weight: 400;
    opacity: 0.5;
    font-size: 2vw;
    margin-block: 0.5em;
    line-height: 1;
}

@keyframes wave-bio {
    0% {
        opacity: 0.3;
    } 50% {
        opacity: 0;
    } 100% {
        opacity: 0.3;
    }
}

.wave-bio {
    position: absolute;
    width: 100%;
    border-radius: 1000px;
    aspect-ratio: 1/1;
    z-index: 1;
    transform: translateX(6px);
    animation-delay: 0.25;
    transition: 0.2s;
    border:1px solid var(--button);
    opacity: 0.3;
    animation: wave-bio 6s linear infinite;
}

.wave-bio:nth-child(2){
    transform: translateX(12px);
    animation-delay: 1s;
}
.wave-bio:nth-child(3){
    transform: translateX(18px);
    animation-delay: 2s;
}
.wave-bio:nth-child(4){
    transform: translateX(24px);
    animation-delay: 3s;
}

.con-image-bio {
    width: 100%;
    max-width: 80px;
    aspect-ratio: 1/1;
    height: fit-content;
    border-radius: 1000px;
    display: grid;
    place-items: center;
    position: relative;
}

.image-profile {
    background: url(../assets//e3b4ba54-3742-495d-aa8e-1e0c75f69437\ \(1\).jpg);
    filter: grayscale(0%);
    width: 100%;
    height: 100%;
    border-radius: 1000px;
    position: relative;
    background-position: top;
    background-size: contain;
    object-position: center;
    overflow: hidden;
    z-index: 2;
    object-fit: cover;

}


.bio {
    width: calc(100%);
    border: 2px dashed var(--border);
    box-sizing: border-box;
    border-radius: 2px;
    display: flex;
    flex-direction: column;
    color: white;
    height: 100%;
    padding: 20px;
}

.skills {
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
    align-items: flex-start;
    justify-content: flex-start;

}

.mySkills {
    flex: 1;
    flex-grow: 1;
}

.box-skill {
    width: fit-content;
    height: fit-content;
    background-color: var(--border);
    font-size: 1vw;
    padding-inline: 10px;
    padding-block: 5px;
    font-weight: 500;
    filter: grayscale(60%);
}

.box-skill:nth-child(1){
    background-color: rgb(233, 0, 0);
}
.box-skill:nth-child(2){
    background-color: rgb(25, 91, 231);
}
.box-skill:nth-child(3){
    background-color: rgb(229, 233, 0);
    color: black;
}
.box-skill:nth-child(4){
    background-color: rgb(142, 56, 240);
}
.box-skill:nth-child(5){
    color: black;
    background-color: rgb(41, 227, 252);
}
.box-skill:nth-child(6){
    background-color: rgb(108, 187, 240);
    color: black;
}
.box-skill:nth-child(7){
    background-color: rgb(182, 5, 5);
}
.box-skill:nth-child(8){
    background: #6824c7;
        background: linear-gradient(148deg, rgba(104, 36, 199, 1) 0%, rgba(86, 30, 143, 1) 100%);
}
.box-skill:nth-child(9){
    background-color: rgb(24, 123, 209);
}
.box-skill:nth-child(10){
    background: rgb(49, 49, 49);
}
.box-skill:nth-child(11){
    background-color: rgb(255, 131, 30);
    color: var(--primary);
}

.box-skill:nth-child(12) {
    background-color: rgb(30, 255, 180);
    color: black;
}

.con-hire-me {
    width: 100%;
    display: flex;
    gap: 5px;
}

.contactme {
    width: 100%;
    padding-block: 0px;
    border: 1px solid var(--border);
    display: grid;
    place-items: center;
    margin-top: 12px;
    font-weight: 800;
    min-height: 60px;
    color: var(--button);
    opacity: 1px solid var(--button);
    font-family: var(--secondfont);
    transition: 0.3s;
    font-weight: 400;
}

.contactme:hover {
    outline: 1px solid var(--button);
    background-color: var(--button);
    scale: 0.9;
    color: var(--primary);
    outline-offset: 0.5em;
    letter-spacing: 1px;
}

.mail-me {
    aspect-ratio: 1/1;
    padding-block: 0px;
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
        min-height: 100vh;
    display: grid;
    place-items: center;
    margin-top: 12px;
    font-weight: 800;
    min-height: 60px;
    color: white;
    font-size: 17px;
}

.mail-me i {
    color: var(--button);
    transform: translateY(3px);
}

.bio h1 {
    font-size: 1.2vw;
    opacity: 0.5;
    font-weight: 400;
    margin-bottom: 15px;
    margin-top: 0px;
    color: var(--button);
    font-family: var(--secondfont);
}


.list-bio {
    list-style: none;
    padding: 0;
    height: fit-content;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-bottom:10px;
    margin-bottom: 0;
    margin-top: 0px;
}

.bio .list-bio li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;
    color: var(--button);
}

@media (max-width:1083px) {
    .bio .list-bio li {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
    }

    
    @media (max-width:700px) {
        .bio .list-bio li {
            flex-direction: row;
        }
        .bio h1 {
            font-size: 5vw;
        }
        .image-profile {
            width: 100%;
            border-radius: 50%;
            aspect-ratio: 1/1;
            background-position: center;
            background-size: cover;       }
        
        .box-skill {
            font-size: clamp(0.3em, 1.5vh, 3em);
        }
    }
}

.bio .list-bio li p {
    font-size: clamp(.5em, .75em, 1.8em);
    padding: 0;
    margin: 0;
}

.bio .list-bio li .text-bio {
    display: flex;
    align-items: center;
}

























.contents {
    top: 0;
    width: calc(75% - 60px);
    height: calc(fit-content);
    position: relative;
    padding-inline: 30px 20px;
    padding-bottom: 20px;
}

.abouts {
    display: flex;
    width: calc(100%);
    height: fit-content;
    position: relative;
    padding-top: 30px;
    overflow: hidden;
    padding-bottom: 30px;
    border-bottom: 1px solid rgba(255, 255, 255, 0.055);
}

/* .abouts::after {
    content: '';
    width: 10px;
    height: 10px;
    outline: 2px solid rgba(255, 255, 255, 0.055);
    background-color: var(--primary);
    
    position: absolute;
    bottom: calc(0% + -11px);
    background-color: rgba(255, 255, 255, 0.055);
    padding: 5px;
    outline-offset: 2px;
    left: 0;
    clip-path: polygon(0 0, 0% 100%, 100% 50%);
} */

.text-abouts {
    width: calc(100% - 30px);
    color: white;
    padding-right: 20px;
}

.text-abouts .title-about {
    font-size: 1.3vw;
    opacity: 1;
    font-family: var(--secondfont);
    color: var(--button);
}

.text-abouts .content-about {
    font-size: 1vw;
    opacity: 0.7;
    width: 100%;
    line-height: 1.1;
    margin: 0;
    color: var(--button);
}

.text-abouts .content-carrier {
    font-size: 1vw;
    opacity: 0.7;
    list-style: none;
    height: 100%;
    color: var(--button);
    line-height: 1.1;
    position: relative;
    margin: 0;
    padding-right: 20px;
    padding: 0;
}


.con-line-carrier {
    font-size: 16px;
    opacity: 1;
    
    list-style: none;
    line-height: 1;
    position: absolute;
    margin: 0;
    display: flex;
    flex-direction: column;
}

:is(.sd, .smp, .smk, .kuliah) {
    background-color: rgba(255, 255, 255, 0.045);
    padding: 20px;
    background-position: right;
    border: 2px solid rgba(255, 255, 255, 0.055);
    border-radius: 0px;
    width: calc(100% - 40px);
    padding-block: 19px;
    margin-bottom: 5px;
    display: flex;
    place-items: center;
}


:is(.sd, .smp, .smk)::after {
    content: '';
    
    width: 80%;
    height: 60px;
    position: absolute;
    margin-bottom: 5px;
}

.line-carrier {
    width: 60%;
    height: 50px;
    background-color: blue;
    position: absolute;

}

/* .text-abouts:nth-child(1) {
    padding-right: 20px;
}
.text-abouts:nth-child(2) {
    
} */

.highlight {
    text-decoration: underline;
    text-decoration-color: #173ff0;
    text-decoration-style: dotted;
    text-decoration-thickness: 0.2px;
}

@media (max-width:700px) {
    .section2 {
        font-family: var(--primaryfont);
        display: flex;
        justify-content: space-between;
        flex-direction: column;
        
        align-items: center;
        height: fit-content;
        width: calc(100% - 20px);
        position: relative;
        padding-top: 50px;

    }

    .con-bio-title {
        display: flex;
        flex-direction: column;
    }

    .contents {
        top: 0;
        display: flex;
        flex-direction: column;
        width: calc(100% - 40px);
        height: fit-content;
        position: relative;
        padding: 20px;
    }


    .con-sticky {
        flex-shrink: 0;
        width: 100%;
        height: 100%;
        border-right: 0px solid var(--border);
    }

    .sticky {
        padding: 20px;
        display: flex;
        height: min-content;
        flex-direction: column;
        top: 0;
    }

    .sticky #namamu {
        font-size: 30px;
        font-family: var(--secondfont);
        color: var(--button);
        display: inline-block;
        font-weight: 400;
        opacity: 0.5;
        font-size:8.5vw;
        margin-block: 0.5em;
        line-height: 1;   
    }

    .text-abouts {
        width: 100%;
        color: white;
    }

    .abouts {
        display: flex;
        width: calc(100% - 40px);
        flex-direction: column;
        padding-top: 0px;
        width: 100%;
        height: min-content;
    }

    @media (min-width:500px) {
        .abouts {
            display: flex;
            width: min-content;
            flex-direction: row;
            width: 100%;
        }
    }

    .text-abouts .title-about {
        font-size: 4.5vw;
    }

    .text-abouts .title-about2 {
        margin-top: 30px;
    }

    .text-abouts .content-about {
        font-size: 4vw;
    }

    .text-abouts .content-carrier {
        font-size: 4vw;
    }
}