.custom-cursor {
    display: none;
}

@media (min-width:800px) {
    /* cursor.css */
        .custom-cursor {
            content: "";
            position: fixed;
            display: grid;
            place-items: center;
            font-size: 10px;
            width: 20px;
            height: 20px;
            background-color: rgba(var(--button), var(--button), bluevar(--button), 0);
            
            border-radius: 50%;
            pointer-events: none;
            clip-path: circle(50% at 50% 50%);
            z-index: 99999999;
            transform: translate(-50%, -50%);
            transition: font-size 0.3s, transform 0s ease, width 0.3s, height 0.6s, background-color 0.2s, scale 0.3s;
            scale: 1;
            /* color: var(--button); */
        }
        
        .custom-cursor svg path {
            width: 100%;
            height: 100%;
            color: var(--primary);
            fill: transparent;
            display: flex;
            justify-content: center;
            align-items: center;
            fill: var(--button);
        }
/* 
        .custom-cursor::before {
            content: '';
            width: 2px;
            height: 15px;
            scale: 0;
            position: absolute;
            background-color: var(--primary3);
            transition: 0.2s;
        }

        .custom-cursor::after {
            content: '';
            width: 15px;
            height: 2px;
            scale: 0;
            position: absolute;
            background-color: var(--primary);
            transition: 0.2s;
        } */
    
        .custom-cursor.active {
            width: 25px;
            height: 25px;
            opacity: 1;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid var(--border) ;
            clip-path: circle(50% at 50% 50%);
            font-size: 30px;
            
        }

        /* .custom-cursor.active::before {
            scale: 1;
            background-color: var(--primary);
            
        }
        .custom-cursor.active::after {
            scale: 1;
            background-color: var(--primary);
            
        } */
        /* .custom-cursor.cursor-close::before {
            rotate: 45deg;
        }
        .custom-cursor.cursor-close::after {
            rotate: 45deg;
        } */
/* 
        .custom-cursor.cursor-blue::before {
            display: none;
        }

        .custom-cursor.cursor-blue::after {
            
        } */

}