@media (min-width:900px) {
    /* cursor.css */
        .custom-cursor {
            content: "";
            position: fixed;
            display: grid;
            place-items: center;
            width: 20px;
            height: 20px;
            background-color: rgba(var(--button), var(--button), bluevar(--button), 0);
            backdrop-filter: invert(100%) blur(0px);
            border-radius: 50%;
            pointer-events: none;
            clip-path: circle(50% at 50% 50%);
            z-index: 99999999;
            transform: translate(-50%, -50%);
            transition: transform 0s ease, width 0.3s, height 0.6s, background-color 0.2s, scale 0.3s;
            scale: 1;
        }

        .custom-cursor::before {
            content: '';
            width: 2px;
            height: 15px;
            scale: 0;
            position: absolute;
            background-color: var(--primary3);
            transition: 0.2s;
        }

        .custom-cursor::after {
            content: '';
            width: 15px;
            height: 2px;
            scale: 0;
            position: absolute;
            background-color: var(--primary);
            transition: 0.2s;
        }
    
        .custom-cursor.active {
            width: 60px;
            height: 60px;
            opacity: 1;
            cursor: pointer;
            background-color: transparent;
            border: 1px solid var(--border) ;
            backdrop-filter: invert(100%) blur(0px);
            clip-path: circle(50% at 50% 50%);
            
        }

        .custom-cursor.active::before {
            scale: 1;
            background-color: var(--primary);
            
        }
        .custom-cursor.active::after {
            scale: 1;
            background-color: var(--primary);
            
        }

        .custom-cursor.cursor-close {
            background-color: rgb(221, 75, 49);
        }
        .custom-cursor.cursor-close::before {
            rotate: 45deg;
        }
        .custom-cursor.cursor-close::after {
            rotate: 45deg;
        }
/* 
        .custom-cursor.cursor-blue::before {
            display: none;
        }

        .custom-cursor.cursor-blue::after {
            
        } */

}