.feedback {
    height: fit-content;
    margin-top: 30px;
}

.feedback h2 {
    color: white;
        font-weight: 400;
        font-size: clamp(1em, 4em, 5em);
        font-family: var(--secondfont);
        margin: 0;
}

.con-user-feedback {
    padding: 0;
    list-style: none;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
}

.user-feedback {
    display: flex;
    align-items: flex-start;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border);
    border-color: transparent transparent var(--border) transparent;
    padding: 40px;
    height: calc(fit-content + 20px);
    transition: 0.8s, background 0.4s;
    overflow: hidden;
    position: relative;
}

.link-to-addfeedback {
    overflow: hidden;
    position: relative;
    border: 2px dashed var(--border);
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--button);
    font-size: 16px;
    width: fit-content;
    margin-left: auto;
    padding: 10px;
    scale: 1;
    transition: 0.2s;
}

.link-to-addfeedback i {
        transform: translateY(2px);
    opacity: 0.5;
    margin-right: 10px;
}

.link-to-addfeedback-title1 {
    width: 100%;
    height: 100%;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.link-to-addfeedback-title2 {
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    transform: translateX(-100%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.link-to-addfeedback:hover {
    background-color: var(--border);
}

.link-to-addfeedback:hover .link-to-addfeedback-title1{
    transform: translateX(calc(100% + 20px));
}

.link-to-addfeedback:hover .link-to-addfeedback-title2 {
    transform: translateX(0%);
}



@media (min-width:700px) {
:is(.user-feedback:nth-child(3), .user-feedback:nth-child(4)) {
    border-bottom: 1px solid transparent;   
}

.user-feedback:hover {
        border: 1px solid var(--grey);
        background: #0f0f0f;
}

}
.user-feedback p {
    margin: 0;
    padding: 0;

}

.user-feedback .fromuser {
    font-size: 10px;
    color: white;
    margin-right: 5px;
    text-transform: lowercase;
    opacity: 0.6;
}

.user-feedback .username {
    font-size: clamp(19px, 23px, 30px);
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 150px;
}

.con-usertext {
    width: 100%;
    height: max-content;
    padding-block: 10px;
}

.user-feedback .usertext {
    font-size: 18px;
    text-align: left;
    padding-left: 25px;
    width: calc(100% - 25px);
    color: rgb(255, 255, 255);
    opacity: 0.5;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

.user-feedback .userdate {
    font-size: 1vw;
    padding: 10px;
    align-self: flex-end;
    background-color: var(--button);
    color: var(--primary);
}
.feedback-quote {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--grey);   
}

.user-feedback:nth-child(odd) {
    border-right: 1px solid var(--border);
}




@media (max-width:700px) {
    .con-user-feedback{
        display: grid;
        grid-template-columns: 1fr;
    }

    .user-feedback {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border-bottom: 1px solid var(--border);
        padding: 20px;
        padding-left: 0px;
        margin-block: auto;
        height: calc(fit-content + 90px);
        transition: 0.8s;   
        
    }

    .user-feedback:nth-child(odd) { 
        border-inline: 1px solid transparent;
    }

    .user-feedback:nth-child(3), .user-feedback:nth-child(4) {
        border-bottom: 1px solid var(--border);
    }

    .feedback h2 {
        font-size: clamp(1em, 2em, 5em);
    }

    .user-feedback .username {
        font-size: clamp(0.3em, 5vh, 1.4em);
        width: 100%;
    }

    .user-feedback .fromuser {
        font-size: 7px;
        color: white;
        width: 18px;
        margin-right: 10px;
        text-transform: lowercase;
        opacity: 0.6;
    }

    .user-feedback .usertext {
        margin-left: 25px;
        width: calc(100% - 80px);

        text-align: left;
    }

    .user-feedback .userdate {
        font-size: clamp(9px, 13px, 20px);
        margin-left: 25px;
    }


}