.feedback {
    height: fit-content;
    margin-top: 30px;
}

.feedback h2 {
    color: white;
        font-weight: 400;
        font-size: clamp(1em, 4em, 5em);
        text-transform: uppercase;
        margin: 0;
}

.con-user-feedback {
    padding: 0;
    list-style: none;
    height: fit-content;
    
}

.user-feedback {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: 2px solid var(--border);
    border-color: transparent transparent var(--border) transparent;

    padding: 40px;
    height: calc(fit-content + 20px);
    transition: 0.8s;
}

.link-to-addfeedback {
        width: 260px;
        overflow: hidden;
        position: relative;
        height: 60px;
        border-radius: 0px;
        border: 2px dashed var(--grey);
        border-width: 2px;
        display: flex;
        align-items: center;
        justify-content: center;
        color: var(--button);
        font-size: 15px;
        width: max-content;
        margin-left: auto;
        scale: 1;
        transition: 0.2s;
}

.link-to-addfeedback i {
        transform: translateY(2px);
    opacity: 0.5;
    margin-right: 10px;
}

.link-to-addfeedback-title1 {
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    position: relative;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.link-to-addfeedback-title2 {
    width: 100%;
    height: 100%;
    padding-inline: 20px;
    transform: translateX(-100%);
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: 0.4s;
}

.link-to-addfeedback:hover .link-to-addfeedback-title1{
    transform: translateX(100%);
}

.link-to-addfeedback:hover .link-to-addfeedback-title2 {
    transform: translateX(0%);
}

@media (min-width:700px) {
    .user-feedback:hover {
            border: 2px solid var(--grey);
        }
}
.user-feedback p {
    margin: 0;
    padding: 0;

}

.user-feedback .fromuser {
    font-size: 13px;
    color: white;
    margin-right: 5px;
    text-transform: lowercase;
    opacity: 0.6;
}

.user-feedback .username {
    font-size: clamp(19px, 23px, 30px);
    display: flex;
    text-transform: uppercase;
    color: rgb(255, 255, 255);
    width: 150px;
}

.user-feedback .usertext {
    font-size: 12px;
    text-align: center;
    line-height: 13px;
    padding-block: 10px;
    color: rgb(255, 255, 255);
    opacity: 0.5;
    width: calc(40%);
}

.user-feedback .userdate {
    font-size: clamp(19px, 23px, 24px);
    padding: 10px;
    background-color: var(--button);
    color: var(--primary);
}

@media (max-width:700px) {
    .user-feedback {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-around;
        border-bottom: 2px solid var(--border);
        padding: 20px;
        padding-left: 0px;
        margin-block: auto;
        height: calc(fit-content + 90px);
        transition: 0.8s;   
    }

    .user-feedback .fromuser {
        font-size: 13px;
        color: white;
        width: 30px;
        font-size: 12px;
        margin-right: 10px;
        text-transform: lowercase;   
        opacity: 0.6;
    }

    .feedback h2 {
        font-size: clamp(1em, 2em, 5em);
    }

    .user-feedback .username {
        font-size: clamp(19px, 23px, 30px);
    }

    .user-feedback .usertext {
        margin-left: 35px;
        width: calc(100% - 80px);

        text-align: left;
    }

    .user-feedback .userdate {
        font-size: clamp(9px, 13px, 20px);
        margin-left: 35px;
    }
}