.feedback {
    height: fit-content;
    margin-top: 30px;
}

.title-feedback {
    color: var(--button);
    font-weight: 400;
    font-style: italic;
    font-size: clamp(1em, 4em, 5em);
    font-family: var(--secondfont);
    margin: 0;
    
}

.subtitle-feedback {
    font-size: 13px;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
    margin-bottom: 30px;
}

.con-user-feedback {
    padding: 0;
    list-style: none;
    height: fit-content;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr;
}

.con-feedback-btm {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding-inline: 40px;
    padding-bottom: 40px;
}

.user-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border: 1px solid var(--border);
    border-color: transparent transparent var(--border) transparent;
    height: calc(fit-content + 20px);
    transition: 0.2s, background 0s;
    overflow: hidden;
    position: relative;
}

.con-userfeedback {
    display: block;
    padding: 40px;
}

.link-to-addfeedback {
    padding-block: 0px;
        display: grid;
        place-items: center;
        margin-top: 12px;
        font-weight: 800;
        min-height: 60px;
        color: var(--button);
        opacity: 1px solid var(--button);
        font-family: var(--secondfont);
        transition: 0.3s;
        font-weight: 400;
}

.link-to-addfeedback i {
        transform: translateY(2px);
        margin-right: 10px;
        opacity: 0.3;
        font-size: 0.8em;
}

.link-to-addfeedback-title1 {
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: center;
    transition: 0.4s;
}

.error-title {
    font-size: 16px;
        display: flex;
        text-transform: uppercase;
        color: var(--button);
        font-family: var(--secondfont);
        width: 100%;
        color: rgb(255, 66, 66);
}

.error-fetch {
    background-color: var(--button);
    color: var(--primary);
    padding: 10px;
    width: fit-content;
    font-family: var(--secondfont);
}


@media (min-width:700px) {
:is(.user-feedback:nth-child(5), .user-feedback:nth-child(6)) {
    border-bottom: 1px solid transparent;   
}

.user-feedback:nth-child(odd) {
    border-right: 1px solid var(--border);
}


.user-feedback:hover {
        border: 1px solid var(--grey);
        background-color: var(--primary3);
        border-radius: 20px;
}

.user-feedback:nth-child(odd):hover {
    border-radius: 20px 0px 0px 20px;
}

.user-feedback:nth-child(even):hover {
    border-radius: 0px 20px 20px 0px;
}

.user-feedback:hover .feedback-quote {
    color: var(--button);
}

.con-username {
    display: flex;
}

.username {
    transition: 0.3s;
}

.user-feedback:hover .username {
    letter-spacing: 1.2px;
    opacity: 0.7;
    
}

.usertext {
    transition: 0.3s;
}

.user-feedback:hover .usertext {
    opacity: 1;

}

}
.user-feedback p {
    margin: 0;
    padding: 0;

}

.user-feedback .fromuser {
    font-size: 10px;
    color: var(--button);
    margin-right: 5px;
    text-transform: lowercase;
    opacity: 0.6;
}

.user-feedback .username {
    font-size: clamp(19px, 23px, 30px);
    display: flex;
    text-transform: uppercase;
    color: var(--button);
    font-family: var(--secondfont);
    width: 100%;
}

.con-usertext {
    width: 100%;
    height: max-content;
    padding-block: 10px;
}

.user-feedback .usertext {
    font-size: 1vw;
    opacity: 0.5;
    width: 100%;
    color: var(--button);
    line-height: 1.1;
    margin: 0;
    padding-left: 25px;
    width: calc(100% - 25px);
    display: -webkit-box;
    -webkit-line-clamp: 4;
    -webkit-box-orient: vertical;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

.user-feedback .userrating {
    padding: 10px;
    background-color: var(--border);
    font-size: 1vw;
}



.user-feedback .userdate {
    font-size: 1vw;
    padding: 10px;
    position: relative;
    width: max-content;
    align-self: flex-end;
    background-color: var(--button);
    color: var(--primary);
    align-items: flex-end;
}
.feedback-quote {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--grey);   
}






@media (max-width:700px) {
    .con-user-feedback{
        display: grid;
        grid-template-columns: 1fr;
    }

    .con-userfeedback {
        padding: 0;
    }

    .user-feedback {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        justify-content: space-between;
        border-bottom: 1px solid var(--border);
        padding-block: 10px;
        padding-left: 0px;
        margin-block: auto;
        min-height: 160px;
        transition: 0.8s;   
        
    }

    .user-feedback:nth-child(odd) { 
        border-inline: 1px solid transparent;
    }


    .user-feedback:nth-child(3), .user-feedback:nth-child(4) {
        border-bottom: 1px solid var(--border);
    }

    .title-feedback {
        font-size: clamp(1em, 2em, 5em);
    }

    .con-userfeedback .username {
        font-size: clamp(0.3em, 5vh, 1.4em);
        transition: 0.3s;
        width: 100%;
    }

    .con-userfeedback .fromuser {
        font-size: 7px;
        color: var(--button);
        width: 18px;
        margin-right: 10px;
        text-transform: lowercase;
        opacity: 0.6;
    }

    .con-userfeedback .usertext {
        width: calc(100%);
        font-size: 4vw;
        padding-left: 5px;
        text-align: left;
    }

    .con-feedback-btm {
        padding: 0;
        display: flex;
        width: 100%;
    }

    .user-feedback .userdate {
        font-size: clamp(9px, 13px, 20px);
        
    }

    .user-feedback .userrating {
        font-size: clamp(9px, 13px, 20px);
        background-color: var(--border);
    }


}