.feedback {
    height: fit-content;
    margin-top: 30px;
}

.title-feedback {
    color: var(--button);
    font-weight: 800;
    font-size: 3.3em;
    font-family: var(--secondfont);
    padding: 0;
    margin: 0;
}

.subtitle-feedback {
    font-size: 0.8em;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
    padding: 0;
    margin-bottom: 30px;
}

/* Swiper Container Styles */
.swiper-container {
    position: relative;
    width: 100%;
    height: fit-content;
}

.feedback-swiper {
    width: 100%;
    height: fit-content;
}

.feedback-swiper .swiper-slide {
    padding: 0;
    border: none;
}

.swiper-slide-content {
    height: 100%;
    min-height: 300px;
}

.con-swiper-button-fb {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
}

.next-fb,
.prev-fb {
    width: fit-content;
    min-width: 100px;
    border-left: 1px solid var(--border);
    right: 0;
    display: grid;
    place-items: center;
    font-family: var(--secondfont);
    color: var(--button);
    font-size: 0.8em;
    font-weight: 600;
    padding-inline: 30px;
}

.prev-fb {
    border-right: 1px solid var(--border);
}

.swiper-pagination-fraction,
.swiper-pagination-custom,
.swiper-horizontal>.swiper-pagination-bullets,
.swiper-pagination-bullets.swiper-pagination-horizontal {
    width: 30vw;
}

/* Pagination Styles */
.swiper-pagination-custom {
    justify-content: center;
    display: flex;
    align-items: center;
    width: 30vw;
}

.swiper-pagination-custom .swiper-pagination-bullet {
    width: 8px;
    height: 8px;
    background-color: var(--border);
    opacity: 0.8;
    margin: 0 var(--swiper-pagination-bullet-horizontal-gap, 0px);
    border-radius: 0%;
    transition: all 0.3s ease;
}

.swiper-pagination-custom .swiper-pagination-bullet-active {
    background-color: var(--button);
    opacity: 1;
    transform: scale(1.2);
}

@media (max-width:767px) {
    .swiper-pagination-custom {
        width: 30vw;
    }

    .swiper-pagination-custom .swiper-pagination-bullet {
        width: 4px;
        height: 4px;
    }

    .next-fb,
    .prev-fb {
        font-size: 0.8em;
        width: fit-content;

    }
}

/* User Feedback Card Styles */
.user-feedback {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    border-block: 1px solid var(--border);
    border-right: 1px solid var(--border);
    height: calc(fit-content + 20px);
    min-height: 380px;
    transition: 0.2s, background 0s;
    overflow: hidden;
    position: relative;
}

.con-btm-fd {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
}

.con-userfeedback {
    display: block;
    padding-top: 45px;
    flex-grow: 1;
    overflow: hidden;
}

.con-feedback-btm {
    padding: 0;
    display: flex;
    width: fit-content;
    align-items: stretch;
    justify-content: stretch;
    height: fit-content;
    margin: 0;
    margin-bottom: 40px;
    margin-top: 5px;
    border: 1px solid var(--border);
}

.user-feedback p {
    margin: 0;
    padding: 0;
}

.user-feedback .fromuser {
    font-size: 0.8em;
    color: var(--button);
    margin-right: 5px;
    text-transform: lowercase;
    opacity: 0.6;
}

.user-feedback .username {
    font-size: 1.3em;
    display: flex;
    text-transform: capitalize;
    color: var(--button);
    font-family: var(--secondfont);
    font-weight: 800;
    width: 100%;
}

.con-usertext {
    width: 100%;
    height: max-content;
    padding-block: 10px;
}

.con-username {
    display: flex;
    flex-direction: column;
    padding-inline: 30px;
}

.user-feedback .usertext {
    font-size: 0.8em;
    opacity: 0.7;
    width: 100%;
    color: var(--button);
    line-height: 1.1;
    margin: 0;
    padding-left: 25px;
    width: calc(100% - 25px);
    -webkit-line-clamp: 10;
    -webkit-box-orient: vertical;
    display: -webkit-box;
    overflow: hidden;
    word-break: break-word;
    overflow-wrap: break-word;
}

.user-feedback .userrating {
    display: grid;
    place-items: center;
    padding: 0.5em;
}

.user-feedback .userrating .rating-1 {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--red-cl);
}

.user-feedback .userrating .rating-2 {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--orange-cl);
}

.user-feedback .userrating .rating-3 {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--yellow-cl);
}

.user-feedback .userrating .rating-4 {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--lime-cl);
}

.user-feedback .userrating .rating-5 {
    width: 0.5em;
    aspect-ratio: 1 / 1;
    background-color: var(--green-cl);
}


.user-feedback .userdate {
    font-size: 0.8em;
    position: relative;
    display: inline-block;
    font-family: var(--secondfont);
    opacity: 1;
    font-weight: 600;
    display: grid;
    place-items: center;
    padding-inline: 10px;
    width: max-content;
    background: var(--radial-grad);
    color: var(--button);
}

.feedback-quote {
    position: absolute;
    top: 20px;
    right: 20px;
    color: var(--grey);
}

.username {
    transition: 0.3s;
}

.usertext {
    transition: 0.3s;
}

/* Link Styles */
.link-to-addfeedback {
    color: var(--button);
    font-family: var(--secondfont);
    width: 100%;
    height: 62px;
    display: grid;
    place-items: center;
    border-block: 1px solid var(--border);
    font-weight: 600;
    position: relative;
    text-transform: uppercase;
    overflow: hidden;
    gap: 10px;
}

.link-to-addfeedback i {
    transform: translateY(2px);
    margin-right: 10px;
    opacity: 0.3;
    font-size: 0.8em;
}

.link-to-addfeedback-title1 {
    color: var(--button);
    position: relative;
    display: flex;
    align-items: center;
    padding-inline: 20px;
    justify-content: center;
    font-size: 1em;
}

.link-to-addfeedback:hover {
    background-color: var(--blue);
}

.link-to-addfeedback:hover .link-to-addfeedback-title1 {
    color: var(--primary);
}

/* Loading and Error Styles */
.loading-feedback {
    color: var(--button);
}

.error-title {
    font-size: 1em;
    width: 100%;
    padding-block: 30px;
    display: grid;
    place-items: center;
    border-block: 1px solid var(--border);
}

.error-title .error-sub {
    color: var(--button);
    font-family: var(--secondfont);
    font-size: 1em;
    font-weight: 800;
    max-width: 80%;
    margin-block: 15px;
}

.error-title svg {
    width: 13vw;
    height: fit-content;
}

.error-title svg path {
    opacity: 0.1;
    animation: alertyo 1.8s linear infinite;
    fill: var(--button);
}

.error-fetch {
    border: 1px solid var(--border);
    background-color: transparent;
    font-family: var(--primaryfont);
    padding: 10px 20px 10px 20px;
    color: var(--button);
    font-size: 0.8em;
}

@media (max-width:767px) {
    .error-title svg {
        width: 33vw;
    }

    .error-title .error-sub {
        color: var(--button);
        font-family: var(--secondfont);
        font-size: 1em;
        max-width: 80%;
        text-align: center;
        margin-block: 15px;
    }

    .error-fetch {
        font-size: 0.8em;
    }
}

/* Desktop Hover Effects */
@media (min-width: 768px) {



    .user-feedback:hover .feedback-quote {
        color: var(--button);
    }

    .user-feedback:hover .username {
        letter-spacing: 1.2px;
        opacity: 0.7;
    }

    .user-feedback:hover .usertext {
        opacity: 1;
    }

    .swiper-button-prev-custom,
    .swiper-button-next-custom {
        opacity: 0.5;
    }

    .swiper-container:hover .swiper-button-prev-custom,
    .swiper-container:hover .swiper-button-next-custom {
        opacity: 0.8;
    }
}

/* Mobile Responsive */
@media (max-width: 767px) {
    .title-feedback {
        padding: 0;
    }

    .user-feedback {
        min-height: 360px;
    }

    .con-userfeedback {
        padding: 30px;
        border: none;
        min-height: 250px;
    }

    .con-btm-fd {
        padding-bottom: 0px;
    }

    .con-userfeedback .username {
        transition: 0.3s;
        width: 100%;
    }

    .con-userfeedback .fromuser {
        color: var(--button);
        width: 18px;
        margin-right: 10px;
        text-transform: lowercase;
        opacity: 0.6;
    }

    .con-userfeedback .usertext {
        width: calc(100%);
        font-size: 0.8em;
        padding-left: 5px;
        text-align: left;
    }

    .con-feedback-btm {
        padding: 0;
        display: flex;
        width: fit-content;
        align-items: stretch;
        justify-content: stretch;
        height: fit-content;
    }

    .user-feedback .userdate {
        font-size: 0.8em;
    }

    .user-feedback .userrating {
        font-size: 1em;
    }

    .swiper-button-prev-custom,
    .swiper-button-next-custom {
        display: none;
    }
}