@import url(../App.css);

.footer {
    border-top: 1px solid var(--border);
    height: 100vh;
    width: 100%;
    font-family: var(--primaryfont);
    position: relative;
    box-sizing: border-box;
}

.footer-header {
    height: 62px;
    width: 100%;
    border-bottom: 1px solid var(--border);
    padding-inline: 30px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.triple-shapes {
    display: flex;
    gap: 7px;
    width: fit-content;
}

:is(.rectangle, .triangle, .circle) {
    width: 10px;
    aspect-ratio: 1/1;
    background-color: var(--button);
}

.triangle {
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    opacity: 0.3;
}

.circle {
    border-radius: 30px;
}

.footer-main {
    width: 100%;
    height: calc(100% - 62px);
    display: flex;
}



.footer1 {
    border-right: 1px solid var(--border);
    display: flex;
    flex: 1;
    flex-direction: column;
    height: 100%;
    justify-content: space-between;
}

.logo-footer {
    padding-top: 30px;
}

.footer1-main {
    height: 100%;
    background: url(../assets/1ebabc0c-545c-4c94-a16e-779bcf2d6914.jpg);
    background-position: center;
    background-size: cover;
}

.social-media-footer {
    display: flex;
    flex-wrap: wrap;
    white-space: nowrap;
    width: 70%;
    gap: 10px;
    margin-top: 15px
}

.social-media-footer :is(.ig, .lnkdn, .twt, .wa, .tele, .gth) {
    color: var(--button);
    text-decoration: none;
    display: grid;
    width: 3vw;
    aspect-ratio: 1/1;
    border-radius: 0px;
    transition: 0.3s;
    font-size: 1.1vw;
    border: 1px solid var(--border);
    place-items: center;
    outline: none;
}

.social-media-footer :is(.ig, .lnkdn, .twt, .wa, .tele, .gth):hover {
    scale: 0.9;
    outline: 1px solid var(--button);
    outline-offset: 0.5em;
    color: var(--primary);
}

.ig:hover {
    background: linear-gradient(45deg, #f09433 0%, #e6683c 25%, #dc2743 50%, #cc2366 75%, #bc1888 100%);
    color: var(--button) !important;
}

.lnkdn:hover {
    background: #0077B5;
    color: white !important;
}

.twt:hover {
    background: #000000;
    color: white !important;
}

.wa:hover {
    background: radial-gradient(circle at center, #25D366, #128C7E);
    color: white !important;
}

.tele:hover {
    background: radial-gradient(circle at center, #0088cc, #006699);
    color: white !important;
}

.gth:hover {
    background-color: #24292e;
    color: white !important;
}

.footer1 .footer1-main img{
    width: 70px;
    aspect-ratio: 1/1;
}

.copyright {
    padding-block: 30px;
    font-size: 0.8vw;
    border-top: 1px solid var(--border);
    color: var(--button)
}
 
.footer2 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-inline: 30px;
    flex: 0.5;
} 

.footer2 .top-footer2 p{
    color: var(--button);
    font-family: var(--primaryfont);
    font-weight: 400;
    padding-top: 30px;
    font-size: 1vw;
    margin: 0;
}


.footer3 {
    height: calc(100% - 60px);
    padding-block: 30px;
    display: flex;
    flex-direction: row-reverse;
    justify-content:start;
    box-sizing: border-box;
    gap: 30px;
    padding-top: 85px;
    padding-right: 30px;
}


.footer3 h1 {
    font-family: var(--secondfont);
    color: var(--button);
    font-weight: 400;
    font-size: 1.3vw;
    margin: 0;
}

.footer3 ul {
    padding: 0;
}

.footer3 li {
    color: var(--button);
    font-size: 1vw;
    font-family: var(--primaryfont);
    opacity: 0.5;
    list-style: none;
    padding-bottom: 10px;
}



.con-starfuter {
    left: 30px;
    bottom: 60px;
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
}

.starfuter {
    fill: var(--button);
}

@media (max-width:700px) {
    .footer-main {
        flex-direction: column;
    }

    .footer2 .top-footer2 p {
        font-size: 3.7vw;
    }

    .copyright {
        position: absolute;
        bottom: 0;
        width: 100%;
        font-size: 3vw;
    }

    .social-media-footer :is(.ig, .lnkdn, .twt, .wa, .tele, .gth) {
        width: 10vw;
        font-size: 3.7vw;
    }

    .footer3 {
        padding-top: 30px;
        flex-direction: column;
        padding-left: 30px;
        left: 0;
        padding-left: 30px;
        gap: 10px;
    }

    .footer3 h1 {
        font-size: 4.5vw;
    }

    .footer3 li {
        font-size: 3.7vw;
    }

    .footer1 {
        display: none;
    }

    .con-starfuter {
        bottom: 80px;
    }
}