@import url(../App.css);

.section {
    font-family: var(--primaryfont);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: calc(100vh - 87px);
    position: relative;
    overflow: hidden;
    padding-inline: 30px;
    border-bottom: 1px solid var(--border);
    
}

@keyframes plus-particle {
    0% {
        transform: rotate(0deg) ;
    } 50% {
        transform: rotate(360deg);
    } 100% {
        transform: rotate(720deg);
    }
}
.plus-particle {
    position: absolute;
    top: 1%;
    right: 8%;
    width: 30px;
    aspect-ratio: 1/1;
    font-size: 40px;
    font-weight: 100;
    animation: plus-particle 6s linear infinite;
}

.plus-particle path {
    fill: var(--border);
}

@keyframes star {
    0% {
        opacity: 100%;
        scale: 1;
    }

    50% {
        opacity: 80%;
        scale: 0.8;
    }

    100% {
        opacity: 100%;
        scale: 1;
    }
}

.con-star {
    z-index: 30;
    width: 30px;
    aspect-ratio: 1/1;
    position: absolute;
    animation: star 2s linear infinite;
}

.con-star1 {
    left: 30px;
    bottom: 30px;
}

.star1, .star2, .star3 {
    animation-delay: 2s;
    animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);
    fill: var(--button);
}

.con-star2 {
    top: 30%;
    right: 20%;
    width: 20px;
    animation-duration: 3s;
    fill: var(--button);
}


.con-star3 {
    top: 5%;
    left: 30%;
    width: 20px;
    animation-duration: 2.5s;
}

.star3 {
    fill: var(--button);
}

.text {
    margin-top: auto;
    margin-bottom: 50px;
    position: absolute;
    z-index: 4;
    display: grid;
    place-items: center;
}

.text p {
    margin: 0;
    text-align: center;
    font-family: var(--secondfont);
}

.all-letters {
    font-size: clamp(0.4rem, 5vw, 0.7rem);
    opacity: 0.7;
    letter-spacing: 0.2em;
    transform: translateY(-20px);
    color: var(--button);
    font-family: var(--primaryfont);
    align-items: center;
}

.text .revealed {
    font-size: clamp(0.4rem, 5vw, 0.7rem);
    opacity: 0.7;
    letter-spacing: 0.2em;
    transform: translateY(-20px);
    color: var(--button);
    font-family: var(--primaryfont);
}

.text .AnimatedContent {
    font-size: clamp(1rem, 5vw, 7rem);
    padding-inline: 30px;
    color: var(--button);
    /* line-height: 0.8; */
}

/* .text p:nth-child(2) {
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: var(--button);
    font-size: clamp(1rem, 4vw, 6rem);
    color: var(--button);
    font-weight: 800;
    padding-inline: 30px;
    line-height: 0.8;
} */

.image {
    width: 20em;
    border-radius: 100% 100% 0% 0%;
    aspect-ratio: 1/1;
    background: url(../assets/woman.jpg);
    filter: grayscale(100%);
    background-position: center;
    position: absolute;
    bottom: 0;
    z-index: 2;
    background-size: cover;
}

.image::before {
    content: '';
    width: 15em;
    border-radius: 200px;
    aspect-ratio: 0.6/1;
    background: transparent;
    border-left: 2px solid var(--border);
    border-top: 2px dashed var(--border);
    border-right: 2px dashed var(--border);
    border-bottom: 2px dashed var(--border);
    position: absolute;
    bottom: 70px;
    left: -100px;
    z-index: 2;
    background-size: cover;
    animation: border-roll 5s linear infinite;
    transition: border 5s;
}

.bg-image-introduction {
    width: 20em;
    border-radius: 100% 100% 0% 0%;
    aspect-ratio: 1.2/1;
    background: var(--border);
    position: absolute;
    transform: translateX(4em);
    bottom: 0px;
    z-index: 1;
}

.dot-introduction {
    background: #173ff0;
    margin-left: 5px;
    width: 0.25em;
    aspect-ratio: 1/1;
    border-radius: 100px;
    display: inline-block;
}

.arrow-to-sc2 {
    position: absolute;
    bottom: 30px;
    right: 30px;
    z-index: 3;
}

@media (max-width:700px) {
    .section {
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        height: fit-content;
        min-height: calc(100dvh - 137px);
        border-width: 1px;
        padding-bottom: 50px;
    }
    .text {
        margin-top: 0;
        margin-bottom: 50px;
    }

    .text p {
        margin: 0;
    }


    .text .AnimatedContent{
        font-size: clamp(2rem, 9vw, 7rem);
        padding-inline: 0px;
        line-height: 0.8;
    }
    /* .text p:nth-child(2) {
        -webkit-text-stroke: 0.35px;
        -webkit-text-stroke-color: var(--button);
        font-size: clamp(1rem, 7vw, 9rem);
        font-weight: 900;
        padding-inline: 0px;
        line-height: 0.8;   
    } */
    .image {
        width: 80%;
        aspect-ratio: 1/1;
        max-width: 500px;
        height: max-content;
        margin-bottom: 0;
        background-position: center;
        background-size: cover;
    }

    .con-star1 {
        left: 2%;
        bottom: 30px;
    }

    .star1 {
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    }

    .con-star2 {
        top: 25%;
        right: 20%;
        width: 20px;
        animation-duration: 3s;
        fill: var(--button);
    }

    .con-star3 {
        top: 5%;
        left: 30%;
        width: 20px;
        animation-duration: 2.5s;
    }

    .star3 {
        fill: var(--button);
    }

    .bg-image-introduction {
        bottom: 0px;
        width: 17em;
    }



}

@media (max-width:1000px) {
    
}