@import url(../App.css);

.section {
    font-family: var(--primaryfont);
    display: flex;
    flex-direction: row;
    justify-content: start;
    align-items: start;
    height: calc(100vh - 57px);
    position: relative;
    overflow: hidden;
    object-fit: cover;
    object-position: center;
    border: 1px solid var(--border);
}

.bgImage-INT {
    width: 100%;
    position: absolute;
    display: none;
}

.text {
    position: relative;
    height: calc(100%);
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 4;
}

.hero {
    width: 100%;
    height: 100%;
    overflow: hidden;
    padding: 30px 30px 60px 30px;
    box-sizing: border-box;
    position: relative;
    display: flex;
    justify-content: space-between;
    flex-direction: row-reverse;
    align-items: center;
    /* background: url(../assets/ordosocialist_eurasia_flag_by_neobolshevik_dhfr6jm.png);
    background-size: cover;
    background-position: center; */
}

.hero svg {
    height: 80%;
    aspect-ratio: 1/1;
    position: relative;
    display: grid;
    place-items: center;
    position: absolute;
    z-index: -1;
    box-sizing: border-box;
    
    left: 50%;
    transform: translateX(-50%);
}

.hero svg path {
    fill: transparent;
    stroke: var(--button);
    opacity: 0.12;
    stroke-width: 1px;
    animation: brokenLamp 3s linear infinite;
}

@keyframes brokenLamp {
    0% {
        opacity: 0.12;
        transform: scale(1);
    }  36% {
        opacity: 0.2;
    }
    100% {
        opacity: 0.12;
    }
}

.hero .hero-1, .hero-2 {
    font-family: var(--secondfont);
    color: var(--button);
    text-transform: uppercase;
}

.hero .hero-1 {
    align-self: flex-start;
    overflow: hidden;
}

.hero .hero-1 span {
    display: inline-block;
    margin-inline: 1px;
}

.hero .hero-1 svg {
    position: relative;
    width: 1.48vw;
}

.hero .hero-1 svg path {
    fill: var(--button) !important;
    opacity: 1 !important;
}

.hero .hero-2 {
    align-self: flex-end;
}

.hero .hero-1{
    text-align: right;
}

.hero .hero-2 h1 {
    opacity: 0.3;
}

.hero p {
    font-size: 2em;
    font-weight: 800;
    opacity: 0.3;
}

.hero h1 {
    font-size: 4em;
    margin: 0;
} 

@media (max-width:1024px) {
    .hero {
        flex-direction: column;
    }

    .hero .hero-1 {
        align-self: flex-end;
        width: 80%;
    }

    .hero p {
        font-size: 2em;
        font-weight: 800;
        opacity: 0.3;
    }

    .hero .hero-1 svg {
        width: 3vw;
    }

    .hero .hero-2 {
        align-self: flex-start;
    }

    .hero h1 {
        font-size: 4em;
    }
}

@media (max-width:767px) {
    .hero {
        flex-direction: column;
    }

    .hero .hero-1 {
        align-self: flex-end;
        width: 100%;
    }

    .hero p {
        font-size: 1.5em;
        font-weight: 800;
        opacity: 0.3;
    }

    .hero .hero-1 svg {
        width: 0.75em;
    }

    .hero .hero-2 {
        align-self: flex-start;
    }

    .hero h1 {
        font-size: 2.5em;
    }
}

.text p {
    margin: 0;
    font-family: var(--secondfont);
}

.header-int {
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding-inline: 30px;
    margin-top: 30px;
    box-sizing: border-box;
}

.text .revealed, .currndate {
    font-size: 0.8em;
    letter-spacing: 1;
    color: var(--button);
    font-family: var(--primaryfont);
    display: flex;
    align-items: center;
    font-weight: 800;
}

.text .explore {
    height: 9vh;
    overflow: hidden;
    display: inline-block;
    aspect-ratio: 1 / 1;
    padding-inline: 3px;
}

.text .explore svg {
    width: 100%;
}

.text .explore svg path {
    fill: var(--button);
    /* stroke: var(--button);
    stroke-width: 5px; */
}

.text .andText {
    -webkit-text-stroke: 1px;
    -webkit-text-stroke-color: var(--button);
    color: transparent;
}

.text .AnimatedContent2 {
    width: 100%;
}

/* .text p:nth-child(2) {
    -webkit-text-stroke: 0.8px;
    -webkit-text-stroke-color: var(--button);
    font-size: clamp(1rem, 4vw, 6rem);
    color: var(--button);
    font-weight: 800;
    padding-inline: 30px;
    line-height: 0.8;
} */

.con-image {
    position: absolute;
    bottom: 0;
}

.image {
    width: 20em;
    border-radius: 100% 100% 0% 0%;
    aspect-ratio: 1/1;
    background: url(../assets/woman.jpg);
    filter: grayscale(0%);
    background-position: center;
    z-index: 2;
    background-size: cover;
}

/* 
.image::before {
    content: '';
    width: 15em;
    border-radius: 200px;
    aspect-ratio: 0.6/1;
    background: transparent;
    border-left: 2px solid var(--border);
    border-top: 2px dashed var(--border);
    border-right: 2px dashed var(--border);
    border-bottom: 2px dashed var(--border);
    position: absolute;
    bottom: 70px;
    left: -100px;
    z-index: 2;
    background-size: cover;
    animation: border-roll 5s linear infinite;
    transition: border 5s;
} */

.con-image-introduction {
    position: absolute;
    bottom: 0px;
    z-index: -1;
}

.bg-image-introduction {
    width: 20em;
    border-radius: 100% 100% 0% 0%;
    aspect-ratio: 1.2/1;
    background: var(--border);
    transform: translateX(4em);
}

.dot-introduction {
    background: var(--blue);
    margin-left: 5px;
    width: 0.25em;
    aspect-ratio: 1/1;
    border-radius: 100px;
    display: inline-block;
}

.arrow-to-sc2 {
    bottom: 0px;
    right: 30px;
    z-index: 3;
    width: 10%;
    box-sizing: border-box;
    aspect-ratio: 1/1;
    display: grid;
    background: var(--radial-grad);
    position: absolute;
    z-index: 4;
    border: none;
    place-items: center;
    /* clip-path: polygon(25% 0%, 75% 0%, 100% 25%, 100% 100%, 0 100%, 0 25%); */
    transition: 0.3s cubic-bezier(0.175, 0.885, 0.32, 1.275);
    border: 1px solid var(--border);
}

.arrow-to-sc2 svg {
    width: 35%;
    transition: 0.2s;
}

.arrow-to-sc2 svg path {
    fill: var(--button);
}

.arrow-to-sc2:hover {
    transform: translateY(5%);
}

.arrow-to-sc2:hover svg {
    width: 50%;
}

@media (max-width:767px) {
    .arrow-to-sc2 {
        width: 23vw;
    }
}

.arrow-intro {
    width: 50px;
    height: 50px;
    position: absolute;
    background-color: var(--blue);
    box-shadow: 0px 3px 20px 0px var(--blue);
    border-radius: 50%;
    transition: 0.1s;
    display: grid;
    place-items: center;
}

.arrow-intro:active {
    scale: 0.8;
}

@media (max-width:767px) {
    .section {
        flex-direction: column-reverse;
        justify-content: start;
        align-items: start;
        height: calc(100svh - 57px);
        border-width: 1px;
        object-fit: cover;
        object-position: center;
    }

    .bgImage-INT {
        height: 100%;
        width: fit-content;
    }

    .text {
        margin-top: 0;
    }

    .text p {
        margin: 0;
    }

    .text .explore {
        height: 3.5vh;
    }

    .text .andText {
        -webkit-text-stroke: 1px;
            -webkit-text-stroke-color: var(--button);
            color: transparent;
    }

    .con-image {
        position: absolute;
        bottom: 0;
        width: calc(100%);
        display: grid;
        place-items: center;
    }

    .image {}

    .con-star1 {
        left: 2%;
        bottom: 30px;
    }

    .star1 {
        animation-delay: 2s;
        animation-timing-function: cubic-bezier(0.19, 1, 0.22, 1);

    }

    .con-star2 {
        top: 25%;
        right: 20%;
        width: 20px;
        animation-duration: 3s;
        fill: var(--button);
    }

    .con-star3 {
        top: 5%;
        left: 30%;
        width: 20px;
        animation-duration: 2.5s;
    }

    .star3 {
        fill: var(--button);
    }

    .bg-image-introduction {
        bottom: 0px;
        width: 17em;
    }

}