.loading-screen{
    width: 100%;
    height: 100svh;
    padding: 0;
    margin: 0;
    gap: 0;
    overflow: hidden;
    display: grid;
    place-items: center;
    flex-direction: column;
}

.loading-screen svg {
    width: 60px;
    animation: fade 1s cubic-bezier(0.165, 0.84, 0.44, 1) forwards;
    opacity: 0;
}

@keyframes fade {
    0% {
        opacity: 0;
        scale: 0.9;
    }
    100% {
        opacity: 1;
        scale: 1;
    }
}

.loading-phase2 {
    animation: scaleZoom 2s linear forwards;
}

@keyframes scaleZoom {
    0% {
        scale: 1;
        opacity: 1;
    } 80% {
        scale: 1;
        opacity: 1;
    } 100% {
        scale: 5;
        opacity: 0;
    }
}