.con-swiper {
    width: 100%;
    height: calc(fit-content - 30px);
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    background-color: var();
}



.swiper {
    width: 100%;
}

.title-swiper {
    margin-bottom: 30px;
    height: fit-content;
}

.con-title-HZ {
    overflow: hidden;
    height: fit-content;
}

.title-swiper h1 {
    color: var(--button);
    font-weight: 400;
    font-size: clamp(1em, 4em, 5em);
    color: var(--button);
    font-family: var(--secondfont);
    font-style: italic;
    margin: 0;
}

.title-swiper p {
    font-size: 13px;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
}


.swiper-slide {
    text-align: left;
    font-size: 18px;
    outline-offset: -2px;
    display: flex;
    position: relative;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 0px solid var(--border);
}

.gambar {
    width: calc(100%);
    box-sizing: border-box;
    aspect-ratio: 1/1;
    object-fit: cover;
    border-top-left-radius: 30px;
    object-position: center;
    transition: 0.2s;
    position: relative;
    scale: 1;
    position: relative;
    display: grid;
    place-items: center;
    padding: 30px 30px 15px 30px;
    overflow: hidden;
}

.gambar img {
    width: calc(100%);
    aspect-ratio: 1/1;
    object-fit: cover;
    scale: 1;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gambar a {
    display: none;
    position: absolute;
    transition: .6s;
}

.gambar .fi {
    font-size: 0.8vw;
    padding-left: 3px;
}

.gambar-h2 {
    color: var(--button);
    font-size: 0.8vw;
    margin-top: 0;
    position: relative;
    top: 0;
    text-transform: capitalize;
    opacity: 0.5;
    font-weight: 400;
    padding: 0;
    padding-inline: 30px;
    margin: 0;
}

.gambar-h1 {
    color: rgb(255, 255, 255);
    padding-inline: 30px;
    font-size: 1.6vw;
    font-family: var(--secondfont);
    color: var(--button);
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    position: relative;
    top: 0;
}

.tag-language {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-inline: 30px;
    width: calc(100% - 20px);
    overflow: hidden;
}

.tag-language .taglang:nth-last-child(1){
    border-right: 1px solid var(--border);
}

.taglang {
    width: fit-content;
        height: fit-content;
        font-size: 0.85vw;
        border-block: 1px solid var(--border);
        border-left: 1px solid var(--border);
        padding-inline: 10px;
        padding-block: 5px;
        color: var(--button);
        font-weight: 500;
        filter: grayscale(60%);
        font-weight: 100;
        text-transform: capitalize;
}

.mySwiper {
    position: relative;
}

.con-swiper-button-hz {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.next-hz {
    width: 13vw;
    border-left: 1px solid var(--border);
    right: 0;
    display: grid;
    place-items: center;
    font-family: var(--secondfont);
    color: var(--button);
    font-size: 1vw;
}

.prev-hz {
    width: 13vw;
    border-right: 1px solid var(--border);
    right: 0;
    display: grid;
    place-items: center;
    font-family: var(--secondfont);
    color: var(--button);
    font-size: 1vw;
}

.mySwiper:hover .gambar {
    filter: brightness(40%) grayscale(100%);
    background-color: transparent;
    opacity: 0.5;
}

.mySwiper .gambar:hover {
    filter: none;
    border-radius: 20px;
    opacity: 1;
}
.mySwiper .gambar img {
    transition: 0.2s;
}

.mySwiper .gambar:hover a{
    display: block;
    transition: 0.6s;
    color: whitesmoke;
    background-color: var(--blue);
    box-shadow: 0px 3px 20px 0px var(--blue);
    bottom: 25px;
    font-size: 1.2vw;
    right: 25px;
    padding-block: 6px;
    padding-inline: 17px;
    border-radius: 6px;
}


.null {
    height: fit-content;
    aspect-ratio: 1/1;
}


.swiper-slide img {
    display: block;
    
}

.con-swipe {
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    justify-content: flex-start;
    margin-left: auto;
}

.con-swipe p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--button);
}

.swipe {
    display: none;
}

@media (max-width:767px) {
    .swipe {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.7;
        font-family: var(--secondfont);
    }

    .next-hz, .prev-hz {
        font-size: 3.5vw;
        width: 35vw;
    }
}

.swipe .fi {
    transform: translateY(2.5px);
    
}

.see-all {
    padding: 10px;
    border: 2px dashed var(--border);
    display: grid;
    place-items: center;
    color: var(--button);
    font-size: 16px;
    scale: 1;;
}

.circle-arrow-all-project i {
    animation: i 14s linear infinite;
    transform: translateY(2px);
}

.circle-arrow-all-project:hover {
    border-color: var(--button);
    scale: 0.9;
    opacity: 0.9;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media (max-width:767px) {
    .title-swiper h1 {
        font-size: clamp(1em, 2em, 5em);
    }

    .con-all-project {
       display: flex;
       margin-top: 30px;
       align-items: center;
       color: white;
       justify-content: flex-start;
    }

    .con-all-project p {
        font-size: 16px;
    }

    .circle-arrow-all-project {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 200px;
    }

    .mySwiper:hover .gambar {
        filter: none;
        scale: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        scale: 1;   }
        

    .fullscreen-overlay {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;   
    }

    .mySwiper:hover .gambar {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .mySwiper .gambar:hover a {
        font-size: 5vw;
        transition: 0.3s;
    }

    .gambar .fi {
        font-size: 3.4vw;
        padding-left: 3px;   
    }

    .language-programs {
        font-size: 3.5vw;
    }

    .gambar-h2 {
        font-size: 4vw;
        color: var(--button);
    }

    .gambar-h1 {
        font-size: 6.4vw;
    }

    .taglang {
        font-size: 3vw;
    }
}
