.con-swiper {
    width: 100%;
    height: calc(fit-content - 30px);
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    background-color: var();
}



.swiper {
    width: 100%;
}

.title-swiper {
    margin-bottom: 30px;
}

.title-swiper h1 {
    color: var(--button);
    font-weight: 400;
    font-size: clamp(1em, 4em, 5em);
    color: var(--button);
    font-family: var(--secondfont);
    margin: 0;
}

.title-swiper p {
    font-size: 13px;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
}


.swiper-slide {
    text-align: left;
    font-size: 18px;
    outline-offset: -2px;
    display: flex;
    position: relative;
    align-items: flex-end;
    border: 1px solid var(--border);
}

.gambar {
    width: calc(100% - 21px);
    aspect-ratio: 1/1;
    object-fit: cover;
    padding: 10px;
    object-position: center;
    transition: 0.2s;
    position: relative;
    scale: 1;
    position: relative;
    display: grid;
    place-items: center;
}

.gambar-h2 {
    color: rgb(255, 255, 255);
    font-size: 0.8vw;
    margin-top: 0;
    position: relative;
    top: 0;
    text-transform: capitalize;
    opacity: 0.5;
    font-weight: 400;
    padding: 0;
    padding-inline: 10px;
    margin: 0;
}

.gambar-h1 {
    color: rgb(255, 255, 255);
    padding-inline: 10px;
    font-size: 1.6vw;
    font-family: var(--secondfont);
    font-weight: 400;
    margin: 0;
    padding-top: 5px;
    position: relative;
    top: 0;
}

.tag-language {
    display: flex;
    flex-wrap: wrap;
    gap: 4px;
    padding-top: 5px;
    padding-inline: 10px;
    padding-bottom: 10px;
    width: calc(100% - 20px);
    overflow: hidden;
}

.taglang {
    padding-block: 4px;
    padding-inline: 8px;
    font-size: 0.7vw;
    background-color: var(--border);
    color: var(--button);
    border-radius: 20%;
}

.mySwiper:hover .gambar {
    filter: brightness(40%) grayscale(100%);
    background-color: transparent;
    opacity: 0.5;
}

.mySwiper .gambar:hover {
    filter: none;
    background-color: var(--border);
    border-radius: 20px;
    opacity: 1;
}


.null {
    height: fit-content;
    aspect-ratio: 1/1;
}


.swiper-slide img {
    display: block;
    
}

.con-all-project {
    display: flex;
    margin-top: 30px;
    align-items: center;
    width: fit-content;
    flex-direction: row-reverse;
    color: white;
    justify-content: flex-end;
    margin-left: auto;
}

.con-all-project p {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    padding: 30px;
    color: var(--button);
}

.see-all {
    padding: 10px;
    border: 2px dashed var(--border);
    display: grid;
    place-items: center;
    color: var(--button);
    font-size: 16px;
    scale: 1;;
}

.circle-arrow-all-project i {
    animation: i 14s linear infinite;
    transform: translateY(2px);
}

.circle-arrow-all-project:hover {
    border-color: var(--button);
    scale: 0.9;
    opacity: 0.9;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media (max-width:700px) {
    .title-swiper h1 {
        font-size: clamp(1em, 2em, 5em);
    }

    .con-all-project {
       display: flex;
       margin-top: 30px;
       align-items: center;
       color: white;
       justify-content: flex-start;
    }

    .con-all-project p {
        font-size: 16px;
    }

    .circle-arrow-all-project {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 200px;
    }

    .mySwiper:hover .gambar {
        filter: none;
        scale: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        scale: 1;   }
        

    .fullscreen-overlay {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;   
    }

    .mySwiper:hover .gambar {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .language-programs {
        font-size: 3.5vw;
    }

    .gambar-h2 {
        font-size: 4vw;
    }

    .gambar-h1 {
        font-size: 6.4vw;
    }

    .tag-language {
        display: flex;
        gap: 4px;
        padding-top: 5px;
        padding-inline: 10px;
        padding-bottom: 10px;
    }

    .taglang {
        padding-block: 4.5px;
        padding-inline: 8px;
        font-size: 3vw;
        background-color: var(--border);
        color: var(--button);
        border-radius: 8px;
    }
}
