.con-swiper {
    width: 100%;
    height: calc(fit-content);
    overflow: hidden;
    position: relative;
    background-color: var();
}

.swiper {
    width: 100%;
}

.title-swiper {
    height: fit-content;
    padding-block: 30px;
}

.con-title-HZ {
    overflow: hidden;
    height: fit-content;
}

.title-swiper h1 {
    color: var(--button);
    font-weight: 400;
    font-size: 4em;
    color: var(--button);
    font-family: var(--secondfont);
    text-transform: uppercase;
    font-weight: 800;
    margin: 0;
}

.swiper-wrapper {
    display: flex;
    align-items: stretch;
}

.title-swiper span {
    opacity: 0.3;
}

.title-swiper p {
    font-size: 0.8em;
    font-weight: 200;
    opacity: 0.7;
    line-height: 1;
    color: var(--button);
    margin: 0;
}


.swiper-slide {
    text-align: left;
    background-color: rgba(var(--border), var(--border), var(--border), 1);
    outline-offset: -2px;
    display: flex;
    position: relative;
    align-items: flex-end;
    box-sizing: border-box;
    padding-bottom: 30px;
    border-top: 1px solid var(--border);
    border-right: 1px solid var(--border);
    border-bottom: 1px solid var(--border);
    border-left: 0px solid var(--border);
    height: auto !important
}

.see-more-project {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    color: var(--button);
    
}



.see-more-project::before {
    content: 'under construction :)';
    padding: 20px;
    position: absolute;
    display: grid;
    background-color: var(--yellow-cl);
    color: #0a0a0a;
    font-family: var(--secondfont);
        text-transform: uppercase;
        font-weight: 800;
        margin: 1em;
        font-size: 1em;
        place-items: center;
        opacity: 0;
        scale: 0.7;
        transition: 0.2s;
        transition-delay: scale 0.3s;
        filter: brightness(100%) !important;
        z-index: 2;
}


.see-more-project:hover::before {
    opacity: 1;
    scale: 1;
    
}

.more-btn {
    width: 5em;
        aspect-ratio: 1 / 1;
        background-color: transparent;
        border: 1px solid var(--border);
        display: grid;
        place-items: center;
        border-radius: 50%;
}

.more-btn svg {
    width: 50%;
}


.more-btn svg path {
        fill: transparent;
            stroke: var(--button);
            stroke-width: 2px;
            opacity: 0.6;
            transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.see-more-project p {
    font-family: var(--secondfont);
    text-transform: uppercase;
    font-weight: 800;
    margin: 1em;
    font-size: 1em;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.see-more-project:hover .more-btn {
    filter: brightness(40%) grayscale(100%);
}
.see-more-project:hover p {
    filter: brightness(40%) grayscale(100%);
}

.gambar {
    width: calc(100%);
    box-sizing: border-box;
    aspect-ratio: 1/1;
    object-fit: cover;
    object-position: center;
    transition: 0.2s;
    position: relative;
    scale: 1;
    position: relative;
    display: grid;
    place-items: center;
    padding: 30px 30px 15px 30px;
    overflow: hidden;
}

.gambar img {
    width: calc(100%);
    aspect-ratio: 1/1;
    object-fit: cover;
    border: 1px solid var(--border);
    scale: 1;
    transition: 0.3s cubic-bezier(0.075, 0.82, 0.165, 1);
}

.gambar a {
    display: none;
    position: absolute;
    transition: .6s;
}

.gambar .fi {
    font-size: 1em;
    padding-left: 3px;
}

.gambar-h2 {
    color: var(--button);
    font-size: 0.6em;
    margin-top: 0;
    position: relative;
    top: 0;
    text-transform: capitalize;
    opacity: 0.5;
    font-weight: 400;
    padding: 0;
    padding-inline: 30px;
    margin: 0;
}

.gambar-h1 {
    padding-inline: 30px;
    font-size: 1.5em;
    font-family: var(--secondfont);
    color: var(--button);
    font-weight: 800;
    margin: 0;
    padding-top: 5px;
    position: relative;
    text-transform: uppercase;
    top: 0;
    height: 1.5em;
    overflow: hidden;
}

.tag-language {
    display: flex;
    flex-wrap: wrap;
    padding-top: 5px;
    padding-inline: 30px;
    width: calc(100% - 20px);
    overflow: hidden;
    gap: 1vw;
}

.tag-language .taglang:nth-last-child(1) {
    border-right: 1px solid var(--border);
}

.taglang {
    width: fit-content;
    height: fit-content;
    font-size: 0.8em;
    border: 1px solid var(--border);
    padding-inline: 0.8em;
    padding-block: 0.5em;
    color: var(--button);
    font-weight: 500;
    filter: grayscale(60%);
    font-weight: 100;
    text-transform: uppercase;
}

.mySwiper {
    position: relative;
}

.con-swiper-button-hz {
    width: 100%;
    height: 70px;
    display: flex;
    position: relative;
    justify-content: space-between;
    border-bottom: 1px solid var(--border);
}

.next-hz,
.prev-hz {
    width: fit-content;
    min-width: 100px;
    right: 0;
    display: grid;
    place-items: center;
    font-family: var(--secondfont);
    color: var(--button);
    font-size: 0.8em;
    font-weight: 600;
    padding-inline: 30px;
}

.prev-hz {
    border-right: 1px solid var(--border);
}

.next-hz {
    border-left: 1px solid var(--border);
}

.mySwiper:hover .gambar {
    filter: brightness(40%) grayscale(100%);
    background-color: transparent;
    opacity: 0.5;
}

.mySwiper .gambar:hover {
    filter: none;
    opacity: 1;
}

.mySwiper .gambar img {
    transition: 0.2s;
}

.mySwiper .gambar:hover a {
    display: grid;
    place-items: center;
    transition: 0.6s;
    color: white;
    border-radius: 0px;
    bottom: 0px;
    font-size: 1em;
    right: 0px;
    font-family: var(--secondfont);
    width: 60px;
    height: 60px;
    background: var(--radial-grad);
    box-sizing: border-box;
    border: 1px solid var(--border);
}

.mySwiper .gambar:hover a svg {
    width: 25%;
}


.null {
    height: fit-content;
    aspect-ratio: 1/1;
}


.swiper-slide img {
    display: block;

}

.con-swipe {
    display: flex;
    width: 100%;
    margin-top: 30px;
    align-items: center;
    flex-direction: row-reverse;
    color: white;
    justify-content: flex-start;
    margin-left: auto;
}

.swipe {
    display: none;
}

@media (max-width:767px) {
    .swipe {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-between;
        opacity: 0.7;
        font-family: var(--secondfont);
    }

    .next-hz,
    .prev-hz {
        width: fit-content;
        padding-inline: 30px;
    }
}

.swipe .fi {
    transform: translateY(2.5px);

}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media (max-width:767px) {
    .title-swiper h1 {
        font-size: 3.3em;
    }

    .con-all-project {
        display: flex;
        margin-top: 30px;
        align-items: center;
        color: white;
        justify-content: flex-start;
    }

    .circle-arrow-all-project {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 200px;
    }

    .mySwiper:hover .gambar {
        filter: none;
        scale: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        scale: 1;
    }


    .fullscreen-overlay {
        top: 0;
        left: 0;
        width: 100vw;
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
        position: fixed;
        z-index: 1000;
        background-color: rgba(0, 0, 0, 0.9);
    }

    .fullscreen-overlay img {
        max-width: 90%;
        max-height: 90%;
        object-fit: contain;
    }

    .mySwiper:hover .gambar {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        background-color: transparent;
        opacity: 1;
    }

    .mySwiper .gambar:hover a {
        transition: 0.3s;
    }

    .gambar-h2 {
        font-size: 0.6em;
        color: var(--button);
    }

    .gambar-h1 {
        font-size: 1.5em;
    }

    .taglang {
        font-size: 0.8em;
    }
}