.con-swiper {
    width: 100%;
    height: calc(fit-content - 30px);
    padding-top: 30px;
    overflow: hidden;
    position: relative;
    background-color: var();
}



.swiper {
    width: 100%;


}

.title-swiper {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    margin-bottom: 30px;
}

.title-swiper h1 {
    color: var(--button);
    font-weight: 400;
    font-size: clamp(1em, 4em, 5em);
    color: var(--button);
    font-family: var(--secondfont);
    margin: 0;
}

.title-swiper p {
    font-size: 15px;
    font-weight: 200;
    opacity: 0.7;
    margin: 0;
    padding-bottom: 15px;
}


.swiper-slide {
    text-align: left;
    font-size: 18px;
    outline-offset: -2px;
    outline: 1px dashed var(--border);
    overflow: hidden;
    display: flex;
    align-items: flex-end;
}

.gambar {
    width: 100%;
    aspect-ratio: 1/1;
    object-fit: contain;
    object-position: center;
    object-position: center;
    transition: 0.2s;
}

.gambar-h1 {
    background-color: var(--primary);
    border: 2px solid rgba(255, 255, 255, 0.055);
    color: rgb(255, 255, 255);
    padding: 6px;
    font-size: 13px;
    margin: 0;
}

.mySwiper:hover .gambar {
    filter: brightness(40%) grayscale(100%);
    scale: 0.7;
}

.mySwiper .gambar:hover {
    filter: none;
    scale: 1;
}


.null {
    height: fit-content;
    aspect-ratio: 1/1;
}


.swiper-slide img {
    display: block;
    
}

.con-all-project {
    display: flex;
    margin-top: 30px;
    align-items: center;
    width: fit-content;
    flex-direction: row-reverse;
    color: white;
    justify-content: flex-end;
    margin-left: auto;
}

.con-all-project p {
    margin: 0;
    font-size: 26px;
    font-weight: 400;
    padding: 30px;
    color: var(--button);
}

.circle-arrow-all-project {
    padding: 20px;
    width: 50px;
    aspect-ratio: 1/1;
    border-radius: 70px;
    border: 2px dashed var(--grey);
    border-width: 2px;

    display: grid;
    place-items: center;
    color: var(--button);
    font-size: 20px;
    animation: arrow-to-sc2 14s linear infinite;
    scale: 1;
    transition: 0.7s;
}

.circle-arrow-all-project i {
    animation: i 14s linear infinite;
    transform: translateY(2px);
}

.circle-arrow-all-project:hover {
    border-color: var(--button);
    scale: 0.5;
    opacity: 0.9;
}

.fullscreen-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.9);
    display: flex;
    justify-content: center;
    align-items: center;
    z-index: 9999;

}

.fullscreen-overlay img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain;
}

@media (max-width:700px) {
    .title-swiper h1 {
        font-size: clamp(1em, 2em, 5em);
    }

    .con-all-project {
       display: flex;
       margin-top: 30px;
       align-items: center;
       color: white;
       justify-content: flex-start;
    }

    .con-all-project p {
        font-size: 16px;
    }

    .circle-arrow-all-project {
        width: 30px;
        aspect-ratio: 1/1;
        border-radius: 200px;
    }

    .mySwiper:hover .gambar {
        filter: none;
        scale: 1;
    }

    .mySwiper .gambar:hover {
        filter: none;
        scale: 1;   }
        

        .fullscreen-overlay {
            top: 0;
            left: 0;
            width: 100vw;
            height: 100vh;
            display: flex;
            justify-content: center;
            align-items: center;
            position: fixed;
            z-index: 1000;
            background-color: rgba(0, 0, 0, 0.9);
        }
    
        .fullscreen-overlay img {
            max-width: 90%;
            max-height: 90%;
            object-fit: contain;   }
}
