@import url('https://fonts.googleapis.com/css2?family=Bokor&family=Suez+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Germania+One&family=Outfit:wght@100..900&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap');
@import url('https://cdn-uicons.flaticon.com/2.6.0/uicons-regular-straight/css/uicons-regular-straight.css');
@import url('https://fonts.googleapis.com/css2?family=Habibi&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Elsie:wght@400;900&display=swap');
:root {
  --primary: #0a0a0a;
  --primary25: #1414143a;
  --primary2: #131313;
  --primary3: #232222;
  --blue: #173ff0;
  --grey: rgb(59, 59, 59);
  --button: #f8f8f8;
  --border: #ffffff0e;
  --secondfont: "Elsie",
    serif;
  --primaryfont: "Space Grotesk", sans-serif;
}

* {
  cursor: none;
}

#smooth-wrapper {
  overflow: hidden;
}

#smooth-content {
  will-change: transform;
}

/* :root {
  --primary: #e0e0e0;
  --primary2: #d1d1d1;
  --primary3: #bebebe4f;
  --grey: rgb(59, 59, 59);
  --button: #0a0a0a;
  --border: #0000002f;
  --secondfont: "Elsie",
    serif;
  --primaryfont: "Space Grotesk", sans-serif;
} */

::selection {
  background-color: var(--blue);
  
}


.habibi-regular {
  font-family: "Habibi", serif;
  font-weight: 400;
  font-style: normal;
}

.elsie-regular {
  font-family: "Elsie", serif;
  font-weight: 400;
  font-style: normal;
}

.elsie-black {
  font-family: "Elsie", serif;
  font-weight: 900;
  font-style: normal;
}

body {
  margin: 0;
  height: 100%;
  padding: 0;
  overflow-x: hidden;
  position: relative;
  background-color: var(--primary);
  /* background: linear-gradient(319deg, var(--primary2) 0%, var(--primary) 50%, var(--primary2) 100%);
  background-attachment: fixed; */
  fill: #919191;
  background-position: center;
}

a {
  text-decoration: none;
}

:is(a, button, input, img):hover {
  cursor: none;
}



.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100svh;
  color: var(--button);
  overflow: hidden;
  font-family: var(--secondfont);
  animation: bgin 8.2s cubic-bezier(0.19, 1, 0.22, 1);
  opacity: 1;
}

@keyframes bgin {
  0% {opacity: 1;}
  80% {opacity: 1;}
  100% {opacity: 0;}
}

.loading-screen .loadingic {
  width: 100px;
  height: 10vh;
  background-color: var(--button);
}

.loading-ic span{
  color: var(--button);
  opacity: 0;
  letter-spacing: 1px;
}


.loading-ic span:nth-child(1) {
  animation: colorstxt 1s linear forwards;
  animation-delay: 0s;
}
.loading-ic span:nth-child(2) {
  animation: colorstxt 1s linear forwards;
  animation-delay: 0.7s;
}
.loading-ic span:nth-child(3) {
  animation: colorstxt 1s linear forwards;
  animation-delay: 1.4s;
}
.loading-ic span:nth-child(4) {
  animation: colorstxt 1s linear forwards;
  animation-delay: 2.1s;
}
.loading-ic span:nth-child(5) {
  animation: colorstxt 1s linear forwards;
  animation-delay: 2.8s;
}


@keyframes colorstxt {
  0% {
    opacity: 0;
    letter-spacing: 1px;
    filter: grayscale(100%);
  }
  99% {
    opacity: 0;
    letter-spacing: 1px;
    filter: grayscale(100%);
  }
  100% {
     opacity: 1;
     letter-spacing: 1px;
    filter: grayscale(0%);
  }
}


.con-star path {
  fill: var(--button);
}

.number {
  position: absolute;
  color: rgba(255, 255, 255, 0.658);
  top: 0px;
  left: 30px;
  margin: 0;
  margin-top: 20px;
  font-size: 18px;
}

@media (min-width:1000px) {
    ::-webkit-scrollbar {
        width: 10px;
        padding: 5px;
        background-color: var(--primary2);
    
      }
      
      ::-webkit-scrollbar-thumb {
        background-color: var(--border);
        position: relative;
      }
    
      ::-webkit-scrollbar-thumb:hover {
        background-color: var(--button);
    
      }
    
      ::-webkit-scrollbar-button {
        display: none;
        margin: 20px;
      }
} 

@media (max-width:1000px) {
  ::-webkit-scrollbar {
    display: none;

  }
}

@media (max-width:700px) {
  .number {
    top: -20px;
  }

  .number2 {
    padding-top: 0px;
    top: 0px;
  }

    .loading-screen h1 {
      font-weight: 400;
      font-size: 1rem;
      animation: fadeIn 3.8s ease-in-out; }
  
}